/* .container{
    width: 100%;
    max-width: 1200px;
    margin: 12px auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}
.header > .desktop-nav{
    display: flex;
}
.header > .desktop-nav > p{
    margin-left: 20px;
    font-size: 18px;
}
.hero > .intro{
    max-width: 486px;
} */

